.post {
    border: 1px solid var(--colorLine);
    border-radius: 5px;

    max-width: 500px;

    width: 100%;
    margin-bottom: 20px;
    background-color: #FFF;

    display: flex;
    flex-direction: column;

}

.post-top {
    border-bottom: 1px solid var(--colorLine);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-info-name {
    display: flex;
    align-items: center;
}

.post-info-name a {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
}

.post-info-name a:hover {
    text-decoration: underline;
}

.post-info p {
    color: #8B8B8B;
    line-height: 10px;
    font-size: 14px;
}

.post-action-button {
    position: relative;
}

.post-action-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-action-item {
    position: absolute;
    right: 0px;
    min-width: 150px;
    text-align: right;
    background-color: #f8f8f8;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.post-action-item button{
    color: #474747;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 16px;
}

.post-action-item button:hover{
    color: #b32f2f;
    background-color: #f77676;
    cursor: pointer;
}

.post-content-image {
    flex: 1;
    max-height: 450px;

    background: rgb(217,217,217);
    background: linear-gradient(0deg, rgba(217,217,217,1) 0%, rgba(255,255,255,1) 100%); 
}

.post-content-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    min-height: 250px;
    padding: 25px;
    font-size: 18px;
    background: rgb(243,78,78);
    background: linear-gradient(90deg, rgba(243,78,78,1) 0%, rgba(243,211,78,1) 100%); 
    color: white;
    flex: 1;
}

.post-bottom {
    display: flex;
    border-top: 1px solid var(--colorLine);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.post-bottom button {
    height: 32px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-bottom button span {
    display: flex;
    align-items: center;
}

.post-bottom button span > span{
    margin-left: 10px;
}

.post-liked {
    color: var(--colorPrimary);
}

.post-bottom p {
    color: #7C7979;
    font-size: 18px;
}