* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --colorPrimary: #FF554A;
    --colorPrimaryDark: #e24e44;
    --colorLine: #E7E1E1;
    --placeholderColor: #7c7c7c;
    --inputBorderColor: #D6D6D6;
    --inputSearchBackgroundColor: #969696;
    --titleColor: #232323;
    --menuHorizontalColor: #7c7c7c;
    --colorTitle: #979797;
    --colorSubTitle: #979797;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

textarea:focus {
    outline-style: none;
}

input:focus {
    outline-style: none;
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

button:focus {
    outline-style: none;
}